<%= render partial:"user",locals: {user:@user} %>
<div class="user-bio">
<p>Bio:</p>
<p><%= @user.Bio %></p>
</div>
<div>
<% @user.posts.each_with_index do |post,index| %>
<div class='user-post'>
<%= link_to user_post_url(post.id), class:'user-link' do %>
    <p class='post-number'>Post #<%= index+1 %></p>
    <div class='post-container'>
      <p class='user-post-text'><%= post.Text %></p>
      <p class="comment-likes">
      <% if post.CommentsCounter.nil? %>
          Comments:0 
        <% else %>
          Comments:<%= post.CommentsCounter %>, 
        <% end %>
        <% if post.LikesCounter.nil? %>
          Likes:0 
        <% else %>
          Likes:<%= post.LikesCounter %> </p> 
          <% end %>
      </p>
    </div>
</div>
<% end%>
<% end %>
</div>
<section class='button-container'>
  <button type="button" class="see-all">See all posts</button> 
</section>

