
<% @posts_by_author.each do |author,posts| %>
<%= render partial:'users/user',locals:{user:author} %>
<div class="create-post-container">
<%= link_to new_user_post_url do %>
  <button class="create-btn" >Create Post</button>
<% end %>
</div>
<% posts.each_with_index do   |post,index| %>
    <div class='user-post'>
    <%= link_to user_post_url(user_id: post.author.id, id: post.id), class:'user-post' do %>
      <p class='post-number'>Post #<%= index+1 %></p>
      <div class='post-container'>
      <p class='user-post-text'><%= post.Text %></p>
      <p class="comment-likes">
        <% if post.CommentsCounter.nil? %>
          Comments:0 
        <% else %>
          Comments:<%= post.CommentsCounter %>, 
        <% end %>
        <% if post.LikesCounter.nil? %>
          Likes:0 
        <% else %>
          Likes:<%= post.LikesCounter %> </p> 
          <% end %>
      </p>
    </div>
    <% end%>
<div class="like-comment-container">   
<div class="create-post-container">
<%= link_to new_user_post_comment_url(post_id: post.id) do %>
  <button class="comment-btn" >Comment</button>
<% end %>
</div>
<div class="create-post-container">
  <button class="comment-btn" >
   <%= render partial: 'likes/likes_button',locals:{post:post} %>
  </button>
</div>
</div> 
</div>
<% if post.comments.empty? %> 
 <div class='none'></div>
 <% else %>
  <div class='user-post'>
  <% post.five_most_recent_posts_for_comment.each do |comment|  %>
    <p><%= author.Name %>:<%= comment.Text %></p>
  <% end %>
  </div>
  <% end %>
<% end %>

<% end %>

<section class='button-container'>
  <button type="button" class="see-all" id='page-button'>Pagination</button> 
</section>