<div class='author-post'>
<div class='post-intro'>
<p class="post-title"> <%= @post.Title %>#1 by <%= @post.author.Name %></p>
<p class='post-counters'>
<% if @post.CommentsCounter.nil? %>
  Comments:0 
<% else %>
  Comments:<%= @post.CommentsCounter %>, 
<% end %>
<% if @post.LikesCounter.nil? %>
  Likes:0 
<% else %>
  Likes:<%= @post.LikesCounter %> </p> 
<% end %>
</div>
<p><%= @post.Text %></p>
<%if can?(:destroy, @post)%>
 <%= button_to "DELETE POST", user_post_path(user_id:@post.author_id, id:@post.id), method: :delete, data: { turbolinks: false } %>  
<% end %>
</div>
<div class='user-comments'>
 <% @post.comments.each do |comment| %>
  <%if can?(:destroy, comment)%>
  <%= button_to "DELETE COMMENT", user_post_comment_path(user_id: comment.user_id, post_id: comment.post_id, id: comment.id), method: :delete, data: { turbolinks: false } %>  
  <% end %>  
  <p><%= @post.author.Name %>: <%= comment.Text %></p>
 <% end %>
</div>


